.cocktail-item {
    display: flex;
    align-items: row;
    justify-content: center;
    max-width: 400px;
    max-height: 200px;
    background-color: yellow; 
    font-size: 14px;
}

.cocktail-item img {
    max-width: 100%;
}