.cocktail-item {
    display: flex;
    align-items: row;
    justify-content: center;
    width: 300px;
    max-height: 200px;
    background-color: lightseagreen;
    font-size: 14px;
    margin: 20px;
    border: solid black 2px;
}

.cocktail-item img {
    max-width: 100%;
}